<div class="hero-unit">
  <h1>Xplor City</h1>
  <h3>The fun way to explore your city.</h3>
  <p>
    <a class="btn btn-primary btn-large">
      Learn More
    </a>
        <a class="btn btn-primary btn-large">
      Sign In
    </a>

  </p>
</div>